html {
    font-family: sans-serif;
    background: #000000;
    padding: 1rem;
  }
  
  body {
    max-width: 960px;
    margin: 0 auto;
    background: #222831;
  }
  
  h1, h3, h4, h5, h6 {
    font-family: serif;
    color: #EEEEEE;
    font-size: 3.5rem;
    margin: 1rem 0;
    padding-bottom: .5rem;
  }

  h2 {
    font-family: serif;
    color: #EEEEEE;
    font-size: 1.5rem;
    margin: 1rem 0;
    padding-bottom: .5rem;
  }

  .red-post{
    color: #000000;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    text-shadow: 
        1px 1px 0 #faadad, 
        /* -1px -1px 0 #cc2f2e,  */
        /* 1px -1px 0 #321010,  */
        /* -1px 1px 0 #a86262, */
        /* 0 1px 0 #f7b6b6,  */
        0 -1px 0 #d7cece,
        -1px 0 0 #000b24, 
        1px 0 0 #ffffff;
  }
  
  a {
    color: #377ba8;
  }
  
  hr {
    border: none;
    border-top: 1px solid lightgray;
  }
  
  nav {
    background: rgba(0, 0, 0, 0.567);
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
  }
  
  nav h1 {
    flex: auto;
    margin: 0;
  }
  
  nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
  }
  
  nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li a, nav ul li span, header .action {
    display: block;
    padding: 0.5rem;
  }
  
  .content {
    padding: 0 1rem 1rem;
  }
  
  .content > header {
    border-bottom: 1px solid rgb(255, 0, 0);
    display: flex;
    align-items: flex-end;
  }
  
  .content > header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
  }
  
  .flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
  }
  
  .post > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
  }
  
  .post > header > div:first-of-type {
    flex: auto;
  }
  
  .post > header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  
  .post .about {
    color: rgb(169, 172, 174);
    font-style: italic;
  }
  
  .post .body {
    white-space: pre-line;
    color: rgba(255, 255, 255, 0.71);
  }
  
  .content:last-child {
    margin-bottom: 0;
  }
  
  .content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
  }
  
  .content label {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .content input, .content textarea {
    margin-bottom: 1em;
  }
  
  .content textarea {
    min-height: 12em;
    resize: vertical;
  }
  
  input.danger {
    color: #cc2f2e;
  }
  
  input[type=submit] {
    align-self: start;
    min-width: 10em;
  }

  .uname{
    color: aliceblue;
  }

  .pwd{
    color: #cae6f6;
  }

  .aliceblue{
    color: #cae6f6;
  }